<link rel="icon" href="images/favicon.ico">

<style type="text/css">
        xx{
    
        }
       body {
             background: url("images/h5.jpg") no-repeat center center fixed; 
             background-size: cover;
             color: mediumvioletred;
             font-weight:bold; 
             font-size: 100%;
             font-variant: small-caps;
             font-family: 'FranchiseRegular','Arial Narrow', Arial, sans-serif;
         }
        p1 {
             margin-left: 750px;
             margin-top: 60px;
             font-size: medium;
         }
        a1{
             color:yellow;
             margin-left:750px;
             margin-top: 70px;
         }
        .search{  
             background-color:dodgerblue;  
             padding: 7px 40px 7px 40px;  
             color:white;  
             font-weight:bold;  
             margin-left:30px;  
             border-radius:5px;  
         }
        .searchform {
             display: inline-grid;
             color: black;
             padding:5px;  
             border:2px solid black;  
             border-radius:20px;  
             font-weight:bold; 
             font-size: 95%;
             font-variant: small-caps;
             font-family: 'FranchiseRegular','Arial Narrow', Arial, sans-serif;
             width: 400px;
             position: relative;	
             top: 10%;
             left: 5%;
             background-color: dodgerblue;
         } 
        .footer {
            position:fixed;
            bottom:0;
            text-align: center ;
            font-size: 16px ;
            font-family: verdana ;
            width: 100% ;
            height: 50px ;
            background-color: skyblue;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li {
            list-style-type: none;
        }
        #nav {
            display:inline-block;
            table-layout: inherit;
            text-align: center;
        }
       #nav li {
            display: table-cell;
            width: 100%;
            padding: 10px;
            --height: inherit;
            vertical-align: middle;
        }
       #nav a {
            display: block;
            position: relative;
            min-height: 100%;
            padding: 2px 30px;
            background-color: brown;
            color: white;
            border-radius: 6px 6px 6px 6px;
        }
        #nav li a:hover:not(.active) {
            background-color: navy;
        }

        #nav .active {
            background-color: #4CAF50;
        }
       
        .dropbtn {
            background-color: forestgreen;
            color: white;
            padding: 4px 20px;
            font-size: 16px;
            border-radius: 6px 6px 6px 6px;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            z-index:1;
        }

        .dropdown-content {
            display: none;
            --z-index:1;
            position: absolute;
            color: white;
            min-width: 140px;
            border-radius: 10px 10px 16px 16px;
        }

        .dropdown-content a {
            color: white;
            font-size: 15px;
            padding: 14px 16px;
            text-decoration: none;
            display: block;
            border-radius: 6px 6px 0 0;
        }

        .dropdown-content a:hover {background-color: black}

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: brown;
        }

</style>